<template>
    <div>
        <div class="snackbar" v-bind:class="color">{{ message }}</div>
    </div>
</template>

<script>
    export default {
        name: 'Snackbar',
        props: {
            message: String,
            status: String
        },
        data() {
            return {
                statusList: {
                    'error': 'red',
                    'info': 'blue',
                    'success': 'green',
                },
                color: null
            }
        },
        created() {
            this.color = this.statusList[this.status];
        },
        methods: {
            animate() {
                return new Promise((resolve, reject) => {
                    try {
                        resolve();
                    } catch (e) {
                        reject(e);
                    }
                })
            }
        },
        mounted() {
            let self = this;
            this.animate().then(() => {
               self.$emit('completed');
            });
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .snackbar {
        position: fixed;
        top: 50%;
        right: 0;
        margin: 15px;
        padding: 15px;
        opacity: 0;
        z-index: 1001;
        min-width: 250px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        animation: snack 5.5s linear;
    }

    @keyframes snack {
        5% { opacity: 0.2; top: 40%; }
        10% { opacity: 0.4; top: 30%; }
        15% { opacity: 0.6; top: 20%; }
        20% { opacity: 0.8; top: 10%; }
        25% { opacity: 1; top: 1%; }
        85% { opacity: 1; top: 1%; }
        90% { opacity: 0.7; top: -1%; }
        95% { opacity: 0.4; top: -4%; }
        100% { opacity: 0; top: -50%; }
    }

    .red {
        background-color: red;
    }
    .green {
        background-color: green;
    }
</style>
