<template>
    <div class="home">
        <Sidebar/>
        <Content/>
    </div>
</template>

<script>
    // @ is an alias to /src
    import Sidebar from '@/index/components/Sidebar.vue'
    import Content from '@/index/components/Content.vue'

    export default {
        name: 'Home',
        components: {
            Sidebar,
            Content
        }
    }
</script>

<style lang="scss">
    .home {
        display: flex;
        width: 100vw;
        height: 100vh;
    }
</style>