<template>
    <div class="context-menu">
        <h2>Context menu</h2>
    </div>
</template>

<script>
    export default {
        name: 'ContextMenu'
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
