<template>
    <div v-if="show">
        <div class="modal-cnd" id="modal-form" @click="close">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" id="modal-cross" @click="close">&times;</span>
                    <h3>{{ title }}</h3>
                </div>
                <div class="modal-body">
                    <slot></slot>
                </div>
                <div class="modal-footer">
                    <slot name="footer"></slot>
                    <button type="button" class="button-cnd" id="modal-button" @click="close">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Modal',
        props: {
            show: Boolean,
            title: String,
            data: Object,
        },
        data() {
            return {

            }
        },
        methods: {
            close(event) {
                const target = event.target;
                const id = target.id;
                if (['modal-form', 'modal-cross', 'modal-button'].includes(id)) {
                    this.$emit('close');
                }
            }
        },
        mounted() {

        }
    }
</script>

<style scoped lang="scss">
    h1, h2, h3, h4 {
        margin: 0;
    }

    .modal-cnd {
        position: fixed;
        display: flex;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,.4);
        user-select: none;
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            max-width: 80%;
            min-width: 25%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            animation-name: animatetop;
            animation-duration: 0.4s;
            .modal-header {
                position: relative;
                padding: 10px 20px;
                h3 {
                    margin: 8px 0;
                    span {
                        color: rgba(0,0,0,.5);
                    }
                }
                .close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 10px;
                    line-height: 8px;
                    cursor: pointer;
                    font-size: 1.3em;
                }
            }
            .modal-body {
                padding: 10px 20px;
                text-align: left;
                max-height: 550px;
                overflow-y: auto;
            }
            .modal-footer {
                padding: 10px 20px;
                text-align: right;
            }
        }
    }

    @keyframes animatetop {
        from {top: -300px; opacity: 0}
        to {top: 0; opacity: 1}
    }
</style>
