<template>
    <div>
        <h1>Перечень</h1>
        <button id="create" type="button" class="button-cnd primary" @click="openModal">Создать</button>
        <table id="lease-holder-list">
            <thead>
            <tr>
                <th v-for="(header, key, index) in headers">{{ headers[key] }}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(leaseHolder, index) in list" @dblclick="openModal(leaseHolder)">
                <td>{{ leaseHolder.inn }}</td>
                <td>{{ leaseHolder.name }}</td>
                <td>{{ leaseHolder.cadastral_number }}</td>
                <td>{{ leaseHolder.square }}</td>
                <td>{{ leaseHolder.activity }}</td>
                <td>{{ leaseHolder.contractor }}</td>
                <td>{{ leaseHolder.activity_notification }}</td>
                <td>{{ leaseHolder.registration_notification }}</td>
                <td>{{ leaseHolder.federal_number }}</td>
                <td>{{ leaseHolder.activity_suspension }}</td>
                <td>{{ leaseHolder.supplementary_agreement }}</td>
                <td>{{ localizeFloat(leaseHolder.sum_before) }}</td>
                <td>{{ localizeFloat(leaseHolder.sum_after) }}</td>
                <td>{{ formatDate(leaseHolder.sum_since_date) }}</td>
                <td>{{ formatDate(leaseHolder.sum_until_date) }}</td>
            </tr>
            </tbody>
        </table>
        <modal :show="modalStatus" :title="modalTitle" @close="closeModal">
            <form v-if="selected">
                <fieldset>
                    <label for="inn" class="required">{{ headers.inn }}:</label>
                    <input v-model="selected.inn" id="inn" type="text"/>
                </fieldset>
                <fieldset>
                    <label for="name" class="required">{{ headers.name }}:</label>
                    <input v-model="selected.name" id="name" type="text"/>
                </fieldset>
                <fieldset>
                    <label for="cadastral_number">{{ headers.cadastral_number }}:</label>
                    <input v-model="selected.cadastral_number" id="cadastral_number" type="text"/>
                </fieldset>
                <fieldset>
                    <label for="square" class="required">{{ headers.square }}:</label>
                    <input v-model="selected.square" id="square" type="text"/>
                </fieldset>
                <fieldset>
                    <label for="activity" class="required">{{ headers.activity }}:</label>
                    <input v-model="selected.activity" id="activity" type="text"/>
                </fieldset>
                <fieldset>
                    <label for="contractor" class="required">{{ headers.contractor }}:</label>
                    <input v-model="selected.contractor" id="contractor" type="text" placeholder="название файла"/>
                    <input v-model="selected.contractor_pages" type="text" placeholder="листов"/>
                </fieldset>
                <fieldset>
                    <label for="activity_notification">{{ headers.activity_notification }}:</label>
                    <input v-model="selected.activity_notification" id="activity_notification" type="text" placeholder="название файла"/>
                    <input v-model="selected.activity_notification_pages" type="text" placeholder="листов"/>
                </fieldset>
                <fieldset>
                    <label for="registration_notification">{{ headers.registration_notification }}:</label>
                    <input v-model="selected.registration_notification" id="registration_notification" type="text" placeholder="название файла"/>
                    <input v-model="selected.registration_notification_pages" type="text" placeholder="листов"/>
                </fieldset>
                <fieldset>
                    <label for="federal_number">{{ headers.federal_number }}:</label>
                    <input v-model="selected.federal_number" id="federal_number" type="text" placeholder="название файла"/>
                    <input v-model="selected.federal_number_pages" type="text" placeholder="листов"/>
                </fieldset>
                <fieldset>
                    <label for="activity_suspension">{{ headers.activity_suspension }}:</label>
                    <input v-model="selected.activity_suspension" id="activity_suspension" type="text" placeholder="название файла"/>
                    <input v-model="selected.activity_suspension_pages" type="text" placeholder="листов"/>
                </fieldset>
                <fieldset>
                    <label for="supplementary_agreement" class="required">{{ headers.supplementary_agreement }}:</label>
                    <input v-model="selected.supplementary_agreement" id="supplementary_agreement" type="text" placeholder="название файла"/>
                    <input v-model="selected.supplementary_agreement_pages" type="text" placeholder="листов"/>
                </fieldset>
                <fieldset>
                    <label for="sum_before" class="required">{{ headers.sum_before }}:</label>
                    <input v-model="selected.sum_before" id="sum_before" type="text"/>
                </fieldset>
                <fieldset>
                    <label for="sum_after" class="required">{{ headers.sum_after }}:</label>
                    <input v-model="selected.sum_after" id="sum_after" type="text"/>
                </fieldset>
                <fieldset>
                    <label for="sum_since_date" class="required">{{ headers.sum_since_date }}:</label>
                    <date-picker v-model="selected.sum_since_date" id="sum_since_date" valueType="format" :lang="lang"></date-picker>
                </fieldset>
                <fieldset>
                    <label for="sum_until_date" class="required">{{ headers.sum_until_date }}:</label>
                    <date-picker v-model="selected.sum_until_date" id="sum_until_date" valueType="format" :lang="lang"></date-picker>
                </fieldset>
            </form>
            <template v-slot:footer>
                <button id="edit" type="button" class="button-cnd primary" @click="edit">{{ currentOp }}</button>
            </template>
        </modal>
        <snackbar v-for="(actionResult, index) in actionResults" :message="snackMessage" :status="snackStatus" v-if="showSnack"/>
        <spinner :title="spinnerTitle" :seen="spinnerStatus" :fs="true"/>
    </div>
</template>

<script>
    import GrantApiService from '../services/Api';
    import Modal from '@/global/components/Modal.vue';
    import Snackbar from '@/global/components/Snackbar.vue';
    import Spinner from '@/global/components/Spinner.vue';
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import 'vue2-datepicker/locale/ru';

    export default {
        name: 'Content',
        components: {
            Modal,
            Snackbar,
            Spinner,
            DatePicker,
        },
        data() {
            return {
                dealId: null,
                megaplanUserId: null,
                selected: null,
                source: {
                    inn: null,
                    name: null,
                    cadastral_number: null,
                    square: null,
                    activity: null,
                    contractor: null,
                    contractor_pages: null,
                    activity_notification: null,
                    activity_notification_pages: null,
                    registration_notification: null,
                    registration_notification_pages: null,
                    federal_number: null,
                    federal_number_pages: null,
                    activity_suspension_pages: null,
                    supplementary_agreement_pages: null,
                    sum_before: null,
                    sum_after: null,
                    sum_since_date: null,
                    sum_until_date: null,
                },
                list: [],
                headers: {
                    inn: 'ИНН арендатора',
                    name: 'Наименование арендатора',
                    cadastral_number: 'Кадастровый номер помещения',
                    square: 'Площадь, кв. м',
                    activity: 'Вид деятельности на арендуемой площади',
                    contractor: 'Договор аренды',
                    activity_notification: 'Уведомление о начале осуществления деятельности, поданное арендатором в Роспотребнадзор',
                    registration_notification: 'Уведомление о постановке на учет в качестве плательщика торгового сбора',
                    federal_number: 'Порядковый номер в Федеральном перечне сертифицированных гостиниц',
                    activity_suspension: 'Подтверждение приостановления деятельности',
                    supplementary_agreement: 'Дополнительные соглашения о снижении арендной платы',
                    sum_before: 'Сумма арендной платы до заключения соглашений, руб',
                    sum_after: 'Сумма арендной платы после заключения соглашений, руб',
                    sum_since_date: 'Дата, с которой арендная плата снижена',
                    sum_until_date: 'Дата, до которой арендная плата снижена',
                },
                modalStatus: false,
                modalTitle: '',
                currentOp: '',
                showSnack: false,
                snackStatus: '',
                snackMessage: '',
                actionResults: [],
                spinnerTitle: '',
                spinnerStatus: false,
                format: 'DD.MM.YYYY',
                lang: 'ru',
            }
        },
        methods: {
            loadList() {
                return new Promise(async (resolve, reject) => {
                    try {
                        const response = await GrantApiService.getList();
                        if (response.status === 'ok') {
                            resolve(response.data);
                        } else {
                            reject(response);
                        }
                    } catch (e) {
                        reject(e);
                    }
                });
            },
            getList() {
                this.showSpinner('Загружается перечень. Пожалуйста, ожидайте.');
                let self = this;
                return new Promise(async (resolve, reject) => {
                    try {
                        self.list = await self.loadList();
                    } catch (e) {
                        // TODO: show something went wrong & reject
                        reject(e);
                    } finally {
                        self.closeSpinner();
                    }
                });
            },
            openModal(data) {
                if (data instanceof MouseEvent) {
                    this.currentOp = 'Создать';
                    this.selected = Object.assign(this.source, { deal_id: this.dealId, megaplan_user_id: this.megaplanUserId });
                } else {
                    this.currentOp = 'Обновить';
                    this.selected = data;
                }
                this.modalStatus = true;
            },
            closeModal() {
                this.modalStatus = false;
            },
            edit() {
                let action;
                if (!this.validate()) {
                    this.addActionResult('error', 'Заполните все поля, отмеченные звездочкой', action, self.selected);
                } else {
                    this.showSpinner('');
                    (async function(self) {
                        try {
                            if (self.selected.id) {
                                action = 'LeaseHolder update';
                                await GrantApiService.update(self.selected);
                                self.addActionResult('ok', 'Успешно обновлено', action, self.selected);
                            } else {
                                action = 'LeaseHolder create';
                                await GrantApiService.create(self.selected);
                                self.addActionResult('ok', 'Успешно создано', action, self.selected);
                            }
                        } catch (e) {
                            self.addActionResult('error', 'Что-то пошло не так', action, self.selected);
                        } finally {
                            self.closeSpinner();
                            self.modalStatus = false;
                            await self.getList();
                        }
                    })(this);
                }
            },
            validate() {
                const required = [
                    'inn',
                    'name',
                    'square',
                    'activity',
                    'contractor',
                    'supplementary_agreement',
                    'sum_before',
                    'sum_after',
                    'sum_since_date',
                    'sum_until_date',
                ];
                for (let prop in this.selected) {
                    if (required.includes(prop) && !this.selected[prop]) {
                        return false;
                    }
                }
                return true;
            },
            addActionResult(status, message, action = null, data = null) {
                this.actionResults.push({ status, message, action, data });
            },
            showSpinner(title) {
                this.spinnerTitle = title;
                this.spinnerStatus = true;
            },
            closeSpinner() {
                this.spinnerStatus = false;
            },
            formatDate(date) {
                const now = new Date(date);
                const year = new Intl.DateTimeFormat('ru', { year: 'numeric' }).format(now);
                const month = new Intl.DateTimeFormat('ru', { month: '2-digit' }).format(now);
                const day = new Intl.DateTimeFormat('ru', { day: '2-digit' }).format(now);

                return `${day}.${month}.${year}`;
            },
            localizeFloat(float) {
                return float.toLocaleString('ru', {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2,
                });
            },
            // formatPrice (price) {
            //     price = parseFloat(price);
            //     return price.toLocaleString('ru-Ru', { currency: 'RUB' });
            // },
            // formatInputPrice (price) {
            //     price = price || 0;
            //     price = this.unformatPrice(price);
            //     return price.toLocaleString('ru-Ru', { currency: 'RUB' });
            // },
            // unformatPrice (rawValue) {
            //     return parseFloat(rawValue.replace(/,/g, '.').replace(/\s+/g, ''));
            // }
        },
        watch: {
            actionResults(val) {
                const lastActionResult = val[val.length - 1];
                this.snackStatus = lastActionResult.status === 'error' ? 'error' : 'info';
                this.snackMessage = lastActionResult.message;
                this.showSnack = true;
            }
        },
        mounted() {
            this.dealId = parseInt(this.$route.query.deal_id);
            this.megaplanUserId = parseInt(this.$route.query.user_id);
            this.getList();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    h1 {
        margin-top: 0;
        text-align: center;
    }
    #create {
        position: absolute;
        top: 2px;
        left: 0;
    }
    #edit {
        margin-right: 10px;
    }
    #lease-holder-list {
        border-collapse: collapse;
        th, td {
            border: 1px solid #ccc;
        }
        td {
            padding: 2px 4px;
        }
    }
    form {
        fieldset {
            line-height: 14px;
            label {
                display: inline-block;
                width: 300px;
                margin-right: 5px;
                &.required {
                    &:after {
                        content: '*';
                        color: red;
                    }
                }

            }
            input {
                border-radius: 0;
                &:nth-child(3) {
                    width: 42px;
                    border-left: none;
                }
            }
        }
    }
</style>
