<template>
    <Iframe/>
</template>

<script>
    import Iframe from '../components/Iframe.vue'

    export default {
        name: 'home',
        components: {
            Iframe
        }
    }
</script>
