$primary-color: rgba(0,128,0,.6);
$secondary-color: rgba(0,0,0,.1);
$border-color: #ccc;

ul {
    list-style-type: none;
}
input {
    padding: 6px 8px;
    border: 1px solid $border-color;
    border-radius: 8px;
    outline: none;
    &.readonly {
        background-color: rgba(0,0,0,.1);
    }
}
button {
    padding: 6px 8px;
    color: #fff;
    border: none;
    border-radius: 8px;
    background-color: $primary-color;
    outline: none;
    &:focus {
        outline: none;
    }
}
fieldset {
    margin: 0;
    border: none
}

button.button-cnd {
    padding: 12px 14px !important;
    color: #3e425e;
    font-family: Roboto, sans-serif !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    outline: none;
    user-select: none;
    letter-spacing: .03em !important;
    cursor: pointer;
}
button.button-cnd:hover {
    background-color: #f0f0f3;
}
button.button-cnd.primary {
    color: #fff;
    background-color: #08bf32;
}
button.button-cnd.primary:hover {
    background-color: #39cb5b;
}
button.button-cnd:focus {
    outline: none;
}
