<template>
    <div>
        <h1>Hello, there!</h1>
        <table>
            <thead>
            <tr>
                <th v-for="(header, i) in headers">{{ header.text }}</th>
            </tr>
            </thead>
        </table>
    </div>
</template>

<script>
    import ObjectService from '../services/ObjectService';
    import dateformat from 'dateformat';

    dateformat.i18n = {
        dayNames: [
            'Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat',
            'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'
        ],
        monthNames: [
            'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec',
            'января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря',
        ],
        timeNames: [
            'a', 'p', 'am', 'pm', 'A', 'P', 'AM', 'PM'
        ]
    };

    const BASE_ERROR_INFO = "Что-то пошло не так, пожалуйста, обратитесь к администратору";

    export default {
        name: 'TaxDisputesObjectList',
        components: {
        },
        data () {
            return {
                userId: null,
                dealId: null,
                headers: [{
                    "value": "order",
                    "text": "№ п/п",
                }, {
                    "value": "cadastral_number_building",
                    "text": "Кадастровый номер здания",
                }, {
                    "value": "cadastral_number_room",
                    "text": "Кадастровый номер помещения",
                }, {
                    "value": "address",
                    "text": "Адрес объекта",
                }, {
                    "value": "list_item_700",
                    "text": "700-ПП",
                }, {
                    "value": "link",
                    "text": "Ссылка на объект",
                }, {
                    "value": "actions",
                    "text": "Действия"
                }],
                items: [],
                isLoading: true,
            }
        },
        methods: {

        },
        created () {
            this.userId = this.$route.query.user_id;
            this.dealId = this.$route.params.id;
        },
        mounted () {
            console.log(123);
            let self = this;
            (async function () {
                // let objects = await ObjectService.fetchObjects(self.dealId);
                // console.log('objects', objects);
                self.isLoading = false;
            })();
        }
    }
</script>

<style lang="scss" scoped>

</style>

<style>
</style>
