<template>
    <div class="content">
        <h2>Content</h2>
        <router-view/>
    </div>
</template>

<script>
    export default {
        name: 'Content'
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .content {
        margin-left: 15px;
    }
</style>
