<template>
    <div class="programs">
        <h2>Megaplan programs</h2>
        <ul>
            <li v-for="(program, index) in programs">{{ program.name }} <button type="button" @click="renderProgram(program.id)">load info</button></li>
        </ul>
        <ul>
            <li v-for="(item, key, index) in currentProgram">
                {{ key }}: {{ item }}
            </li>
        </ul>
    </div>
</template>

<script>
    import MegaplanApiService from '../services/Api';

    export default {
        name: 'MegaplanPrograms',
        data(){
            return {
                programs: [],
                currentProgram: null,
            }
        },
        methods: {
            getProgram(id) {
                return new Promise(async (resolve, reject) => {
                    try {
                        const response = await MegaplanApiService.getProgram(id);
                        if (response.status === 'ok') {
                            resolve(response.data);
                        } else {
                            reject(response);
                        }
                    } catch (e) {
                        reject(e);
                    }
                });
            },
            getPrograms() {
                return new Promise(async (resolve, reject) => {
                    try {
                        const response = await MegaplanApiService.getPrograms();
                        if (response.status === 'ok') {
                            resolve(response.data);
                        } else {
                            reject(response);
                        }
                    } catch (e) {
                        reject(e);
                    }
                });
            },
            renderPrograms() {
                let self = this;
                return new Promise(async (resolve, reject) => {
                    try {
                        self.programs = await self.getPrograms();
                    } catch (e) {
                        // TODO: show something went wrong & reject
                        reject(e);
                    }
                });
            },
            renderProgram(id) {
                let self = this;
                return new Promise(async (resolve, reject) => {
                    try {
                        self.currentProgram = await self.getProgram(id);
                    } catch (e) {
                        // TODO: show something went wrong & reject
                        reject(e);
                    }
                });
            }
        },
        mounted() {
            this.renderPrograms();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
