<template>
    <div class="report-constructor">
        <h2>Megaplan report excel constructor</h2>
        <label>
            <select v-model="currentProgram">
                <option disabled value="null">Выберите бизнес-процесс</option>
                <option v-for="(program, index) in programs" :value="program">{{ program.name }}</option>
            </select>
        </label>
        <div class="constructor">
            <button type="button" @click="addRow">Add row</button>
            <button type="button" @click="addColumn">Add column</button>
            <table v-if="rows.length">
                <tbody>
                <tr v-for="(row, rowIndex) in rows">
                    <td v-if="cell.role === 'service'" :class="cell.role === 'service' ? 'service' : ''" v-for="(cell, cellIndex) in row">
                        {{ cell.value }}
                    </td>
                    <td v-else @dblclick="showContextMenu(rowIndex, cellIndex)">
                        {{ cell.value }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <modal :show="modalStatus" :title="modalTitle" @close="hideContextMenu" :data="modalData">
            <button type="button" @click="addText">Добавить текст</button>
            <br/>
            <button type="button" @click="assignField">Связать с полем</button>
            <textarea v-model="cellText" v-if="cellTextAdding"></textarea>
            <template v-slot:footer>
                <button type="button" @click="applyCellChange">OK</button>
            </template>
        </modal>
    </div>
</template>

<script>
    import MegaplanApiService from '../services/Api';
    import Modal from '../components/modals/Modal.vue';

    export default {
        name: 'MegaplanReportExcelConstructor',
        components: {
            Modal
        },
        data() {
            return {
                currentProgram: null,
                programs: [],
                rows: [],
                maxColumns: 2,
                maxRows: 2,
                alphabet: ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V'],
                modalStatus: false,
                modalTitle: '',
                modalData: null,
                cellText: '',
                cellTextAdding: false,
                cellFieldAssigning: false,
            }
        },
        methods: {
            build() {
                this.rows = [];
                for (let i = 0; i < this.maxRows; i++) {
                    const row = [];
                    for (let j = 0; j < this.maxColumns; j++) {
                        row.push(this.buildCell(i, j));
                    }
                    this.rows.push(row);
                }
            },
            buildCell(rowIndex, cellIndex) {
                if (rowIndex === 0) {
                    if (cellIndex === 0) {
                        return {
                            value: null,
                            role: 'service',
                        };
                    } else {
                        return {
                            value: this.getColumnIndex(cellIndex),
                            role: 'service',
                        };
                    }
                } else {
                    if (cellIndex === 0) {
                        return {
                            value: rowIndex,
                            role: 'service',
                        };
                    } else {
                        return {
                            value: null,
                            role: null,
                        };
                    }
                }
            },
            getColumnIndex(index) {
                return this.alphabet[index - 1];
            },
            addColumn() {
                for (let i = 0; i < this.maxRows; i++) {
                    const row = this.rows[i];
                    row.push(this.buildCell(i, this.maxColumns));
                }
                this.maxColumns++;
            },
            addRow() {
                const row = [];
                for (let j = 0; j < this.maxColumns; j++) {
                    if (j === 0) {
                        row.push({
                            value: this.maxRows,
                            role: 'service',
                        });
                    } else {
                        row.push({
                            value: null,
                            role: null,
                        });
                    }
                }
                this.rows.push(row);
                this.maxRows++;
            },
            getPrograms() {
                return new Promise(async (resolve, reject) => {
                    try {
                        const response = await MegaplanApiService.getPrograms();
                        if (response.status === 'ok') {
                            resolve(response.data);
                        } else {
                            reject(response);
                        }
                    } catch (e) {
                        reject(e);
                    }
                });
            },
            renderPrograms() {
                let self = this;
                return new Promise(async (resolve, reject) => {
                    try {
                        self.programs = await self.getPrograms();
                    } catch (e) {
                        // TODO: show something went wrong & reject
                        reject(e);
                    }
                    console.log(self.programs);
                });
            },
            showContextMenu(rowIndex, cellIndex) {
                this.modalTitle = this.getColumnIndex(cellIndex) + rowIndex;
                this.modalData = {
                    rowIndex,
                    cellIndex,
                };
                this.modalStatus = true;
            },
            hideContextMenu() {
                this.modalStatus = false;
            },
            addText() {
                this.cellTextAdding = true;
            },
            assignField() {

            },
            applyCellChange() {
                console.log('it works');
                console.log('cellTextAdding', this.cellTextAdding);
                console.log('row', this.rows[this.modalData.rowIndex]);
                console.log('cell', this.rows[this.modalData.rowIndex][this.modalData.cellIndex]);
                if (this.cellTextAdding) {
                    this.rows[this.modalData.rowIndex][this.modalData.cellIndex].value = this.cellText;
                }
            }
        },
        watch: {
            currentProgram(val) {
                console.log(val);
            }
        },
        mounted() {
            this.build();
            this.renderPrograms();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    table {
        border-collapse: collapse;
        th, td {
            padding: 4px;
            min-width: 50px;
            text-align: center;
            border: 1px solid black;
            &.service {
                font-weight: bold;
                background-color: lightgrey;
            }
        }
    }
</style>
