<template>
    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul>
            <li>
                <router-link to="/megaplan/programs">Бизнес-процессы</router-link>
            </li>
            <li>
                <router-link to="/megaplan/report-constructor/excel">Конструктор отчетов в Excel</router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'Sidebar',
        mounted() {

        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .sidebar {
        max-width: 25%;
        margin-left: 15px;
    }
</style>
